.my-orders {
  margin-bottom: 80px;
}

.links {
  margin-bottom: 48px;
}

.box-orders {
  padding: 28px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px #0000000a;
  margin-bottom: 48px;
  cursor: pointer;
}

.name h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font-main);
  color: #2f2f2f;
}

.price {
  font-size: 24px;
  font-weight: 600;
}

.paragarph {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.icon-design {
  background-color: #ecfaf2;
  border-radius: 12px;
  padding: 8px;
}

.status {
  border-radius: 20px;
  padding-right: 12px;
  padding-left: 12px;
  gap: 4px;
}

.bg-requested {
  background-color: #fef5bf;
  color: #fdd800;
}

.bg-inspection {
  background-color: #ecfaf2;
  color: #41c980;
}

.bg-report {
  background-color: #fef5bf;
  color: #fdd800;
}

.bg-canceled {
  background-color: #f9cbcb;
  color: #eb5757;
}
.bg-ready {
  background-color: #ecfaf2;
  color: #41c980;
}

.action {
  position: absolute !important;
  background-color: #de2b53;
  padding: 4px 12px;
  right: -30px;
  top: -14px;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-main);
}

@media (max-width: 768px) {
  .price {
    font-size: 16px;
  }
  .span {
    font-size: 12px;
  }
    a {
    font-size: 10px;
  }
}

@media (max-width: 1399px) {
  .box-orders {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
  }

  .details-title {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }

  .details-title img {
    width: 50px;
    height: auto;
  }

  .time-branch {
    width: 100%;
  }

  .status {
    align-self: flex-end;
    margin-top: 12px;
  }

  .link-fix {
    flex: 1 1 45%;
    text-align: center;
    font-size: 14px;
    padding: 8px 10px;
  }
}

@media (max-width: 576px) {
  .links {
    flex-wrap: wrap;
    gap: 12px;
  }

  .links li {
    width: 48%;
    text-align: center;
  }

  .box-orders {
    width: 100%;
  }

  .name h4 {
    font-size: 18px;
  }

  .price {
    font-size: 18px;
  }

  .paragarph {
    font-size: 14px;
    line-height: 20px;
  }

  .status {
    font-size: 12px;
    padding: 6px 10px;
  }
  .link-fix {
    flex: 1 1 45%;
    text-align: center;
    font-size: 14px;
    padding: 8px 10px;
  }
}