.language {
  margin-bottom: 0px;
}

.arabic,
.english {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d;
}

.lang-box {
  border-radius: 12px;
}

.input-check {
  position: relative;
  width: 36px;
  height: 36px;
}

.input-check input {
  width: 100%;
  height: 100%;
  appearance: none;
  border: 3px solid var(--main-color);
  cursor: pointer;
  position: relative;
  background-color: white;
  padding: 0;
  margin: 0;
}

.input-check input:checked::after {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-check input:focus {
  outline: none;
  /* border: 1px solid var(--main-color); */
  box-shadow: none;
}

.inpuy-border {
  border-radius: 8px;
}

.box-checked {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #0000000d;
  margin: auto;
  padding: 60px 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.cancel:hover {
  background-color: #eb5757;
  color: white;
  box-shadow: 0px 1px 30px #eb5757;
  border: none;
}

.isarabic h6,
.isenglish h6 {
  font-family: var(--font-alt);
  font-weight: 700;
  font-size: 24px;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
}

.isarabic p,
.isenglish p {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #7e7e7e;
}

.margin-60px {
  margin-top: 60px;
}

.box-button {
  border-radius: 36px;
  border: 1px solid #d4d4d4;
  padding: 21px 91px;
  gap: 8px;
  max-width: 100%;
  cursor: pointer;
}

.yes-change {
  background-color: var(--main-color);
  border: none;
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #040505;
}

.yes-change:hover {
  box-shadow: 0px 1px 30px var(--main-color);
}

.transition {
  transition: all 0.3s ease;
}

.overLay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
}

.opacity-input {
  opacity: 0.5;
}
.opacity-input-1 {
  opacity: 1;
}

@media (max-width: 576px) {
  .box-checked {
    width: 80%;
  }

  .box-button {
    padding: 10px 30px;
  }

  .isarabic h6,
  .isenglish h6 {
    font-size: 17px;
  }

  .isarabic p,
  .isenglish p {
    font-size: 9px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .box-checked {
    width: 80%;
  }

  .box-button {
    padding: 10px 40px;
  }

  .isarabic h6,
  .isenglish h6 {
    font-size: 17px;
  }

  .isarabic p,
  .isenglish p {
    font-size: 9px;
  }
}

@media (min-width: 769px) and (max-width: 993px) {
  .box-button {
    padding: 10px 60px;
  }
}

@media (min-width: 993px) {
  .box-checked {
    width: 60%;
  }

  .box-button {
    padding: 12px 80px;
  }

  .isarabic h6,
  .isenglish h6 {
    font-size: 20px;
  }

  .isarabic p,
  .isenglish p {
    font-size: 12px;
  }
}