/* .color {
  color: #c71f45;
}
.color-gray {
  color: #7e7e7e;
}

.price-value {
  font-size: 30px;
  color: #c71f45;
}

.span {
  color: #c71f45;
  font-size: 18px;
}

.sale {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: line-through;
  text-align: center;
  text-decoration: line-through;
  color: #6e7191;
  text-align: end;
}

.date-end {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.about-title {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #262338;
  margin-bottom: 18px;
}

.details {
  margin-bottom: 34px;
}

.details p {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #262338;
}

h3 {
  margin-top: 54px;
  margin-bottom: 16px;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #262338;
}

.mb {
  margin-bottom: 50px;
}

.poup {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #0000000d;
  padding: 60px 80px;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}
.fw {
  font-weight: 400;
}
.input-method {
  margin-top: 30px;
}

.box-input {
  width: 100%;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 40px;
  border: 1px solid #eaecf0;
}

.box-input .custom-checkbox {
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #eaecf0;
  height: 24px;
  width: 24px;
  appearance: none;
  position: relative;
  cursor: pointer;
}

.custom-checkbox:checked::after {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.custom-checkbox:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--main-color);
} */
