.box-diesign {
  width: 100%;
  margin: auto;
  height: auto;
  border-radius: 30px;
  background: linear-gradient(90deg, #fae1e7 0%, #fcee97 100%);
  position: relative;
  overflow: hidden;
  margin-bottom: 76px;
}

.width-p {
  width: 283px;
}
/* end offer sec */

/*img setcion*/
.img-offer img {
  transition: all 0.4s ease;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
  width: 170px;
}
.img-offer img:hover {
  transform: scale(1.1);
}
/* end img sec*/

/* qr section */
.qr-code {
  top: -5px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 24px;
  border-width: 1px;
  position: relative;
  z-index: 10;
  backdrop-filter: blur(6px);
}
.qr-code img {
  width: 70px;
  height: 70px;
  border: 3px solid transparent;
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.qr-code img:hover {
  transform: scale(1.1);
  border: 3px solid white;
}

.scan-text h6 {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #272324;
}

.font-14px {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #333333;
  margin-top: 5px;
}
/* end qr sec */

/* siwper sec */
.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 35px;
  height: 35px;
  background-color: #eee;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.swiper-button-prev-custom {
  left: 20px;
}
.swiper-button-next-custom {
  right: 20px;
}

.swiper-button-prev-custom::before {
  content: "←";
}
.swiper-button-next-custom::before {
  content: "→";
}

.swiper-button-next-custom:hover {
  animation: moveRight 0.4s infinite;
}

.swiper-button-prev-custom:hover {
  animation: moveLeft 0.4s infinite;
}

@keyframes moveRight {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(5px);
  }
  100% {
    transform: translateY(-50%) translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(-5px);
  }
  100% {
    transform: translateY(-50%) translateX(0);
  }
}
/* end siper sec */

/* Responsive */
@media (max-width: 576px) {
  .slide-content {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
  }

  .img-offer img {
    width: 100px;
    height: 180px;
  }

  .qr-code {
    align-items: center;
    padding: 10px 15px;
  }

  .qr-code img {
    width: 60px;
    height: 60px;
  }

  .scan-text h6 {
    font-size: 16px;
  }

  .font-14px {
    font-size: 12px;
  }

  .width-p {
    width: 100%;
    padding: 0 10px;
  }

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    top: auto;
    bottom: 15px;
    width: 28px;
    height: 28px;
    font-size: 14px;
  }

  .swiper-button-prev-custom {
    left: 1px;
  }

  .swiper-button-next-custom {
    right: 1px;
  }
  .box-diesign {
    border-radius: 10px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .box-diesign {
    width: 92%;
    padding: 35px 20px;
    border-radius: 50px;
  }
  .scan-text h6 {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .box-diesign {
    width: 88%;
    padding: 38px 25px;
  }
  .scan-text h6 {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .slide-content {
    flex-direction: column;
    gap: 20px;
  }

  .img-offer img {
    height: 250px;
    width: 120px;
  }

  .scan-text {
    text-align: center;
  }

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    top: 50%;
    bottom: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .swiper-button-prev-custom {
    left: 0px;
  }

  .swiper-button-next-custom {
    right: 0px;
  }
  .descount-offer {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .box-diesign {
    width: 90%;
    padding: 40px 30px;
  }
}
